<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/monitor.css"
          th:href="@{/css/monitor.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="jumbotron">
    <div class="row text-center">
        <div class="">
            <h2>CPQ Interface Monitor</h2>

        </div>
    </div>
    <div class="row text-center">
        <img src="../../static/images/NewBannerBOOTS_2.png" width="400"
             th:src="@{/images/NewBannerBOOTS_2.png}"/>
    </div>
</div>
</body>
</html>