<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar-default Header-primary">
            <div class="container-fluid">
                <table class="table_header">
                    <col style="width:25%">
                    <col style="width:50%">
                    <col style="width:25%">
                    <thead>
                    <tr>
                        <td class="Header-logoImage"></td>
                        <td class="singleHeaderTopBar"><h4>GForce CPQ Interface Monitor</h4></td>
                        <td class="Version" th:text="${version}">Version</td>
                    </tr>
                    </thead>
                </table>
            </div>
            <form action="#" th:action="@{/}" th:object="${filter}" method="get">
                <table class="table_header">
                    <thead class="Header-secondary">
                    <tr>
                        <th class="Header-filters">List of Requests</th>
                        <th class="Header-filters">
                            Request Types:<select class="Header-filters-values" th:field="*{request_type}">
                                <option th:each="requestType : ${requestTypes}"
                                        th:text="${requestType}"
                                        th:value="${requestType}">
                                </option>
                            </select>
                        </th>
                        <th class="Header-filters">
                            Target State:<select class="Header-filters-values" th:field="*{target_state}">
                                <option th:each="targetState : ${targetStates}"
                                        th:text="${targetState}"
                                        th:value="${targetState}">
                                </option>
                            </select>
                        </th>
                        <th class="Header-filters">
                            Search: <input class="Header-filters-values" type="search" th:field="*{search}">
                        </th>
                        <th class="Header-filters">
                            <input class="Header-filters-values" type="submit" value="Submit" />
                        </th>
                    </tr>
                    </thead>
                </table>
            </form>
        </nav>
    </div>
</div>
</body>
</html>