<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <!-- EOF CSS INCLUDE -->
    <style>
        .pagination-centered {
            text-align: center;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
        .pointer-disabled {
            pointer-events: none;
        }
    </style>
</head>
<body>
<div>
    <div th:if="${not #lists.isEmpty(requestlist)}">
        <table class="dataTable hover table table-striped">
            <thead class="Header-secondary">
            <tr>
                <th rowspan="2" class="singleHeader">#</th>
                <th rowspan="2" class="singleHeader">Type</th>
                <th rowspan="2" class="singleHeader">ID</th>
                <th rowspan="2" class="singleHeader">Status</th>
                <th colspan="2" class="multiColumnHeaderTop">Caller Request</th>
                <th colspan="2" class="multiColumnHeaderTop">Forward Request</th>
                <th rowspan="2" class="singleHeader">Result</th>
                <!--<th colspan="3" class="multiColumnHeaderTop">Forward Response</th>-->
                <th rowspan="2" class="singleHeader">Events</th>
            </tr>
            <tr>
                <th class="multiColumnHeaderBottom">Request</th>
                <th class="multiColumnHeaderBottom">Received</th>
                <th class="multiColumnHeaderBottom">Request</th>
                <th class="multiColumnHeaderBottom">Sent</th>
                <!--<th class="multiColumnHeaderBottom">Response</th>
                <th class="multiColumnHeaderBottom">Received</th>
                <th class="multiColumnHeaderBottom">Result</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requestlist}">
                <td th:text="${request.id}"></td>
                <td th:text="${request.request_type}"></td>
                <td th:text="${request.integration}"></td>
                <td th:text="${request.request_status}"></td>
                <!--<td th:text="${request.request}"></td>-->
                <td><span th:if="${request.request_date != null}">
                    <button class="view" title="View"
                            th:onclick="'showMessageDialog(\'' + ${request.id} + '\',\'Request\');'"></button>
                    <button class="download" title="Download"
                            th:onclick="'downloadMessage(\'' + ${request.id} + '\',\'Request\');'"></button>
                </span>
                </td>
                <td th:text="${request.request_date}"></td>
                <!--<td th:text="${request.forward_request}"></td>-->
                <td>
                <span th:if="${request.forward_request_date != null}">
                    <button class="view" title="View"
                            th:onclick="'showMessageDialog(\'' + ${request.id} + '\',\'Forward\');'"></button>
                    <button class="download" title="Download"
                            th:onclick="'downloadMessage(\'' + ${request.id} + '\',\'Forward\');'"></button>
                </span>
                </td>
                <td th:text="${request.forward_request_date}"></td>
                <!--<td th:text="${request.forward_response}"></td>-->
                <!--<td>
                <span th:if="${request.forward_response_date != null}">
                    <button class="view" title="View"
                            th:onclick="'showMessageDialog(\'' + ${request.id} + '\',\'Response\');'"></button>
                    <button class="download" title="Download"
                            th:onclick="'downloadMessage(\'' + ${request.id} + '\',\'Response\');'"></button>
                </span>
                </td>
                <td th:text="${request.forward_response_date}"></td>-->
                <td th:text="${request.target_status}"></td>
                <td>
                    <button class="view" title="View"
                                th:onclick="'showEvents(\'' + ${request.id} + '\');'"></button>
                    <!--th:onclick="'showEvents(\'' + ${request.id} + '\');'"></button>-->
                </td>
            </tr>
            <tr>
                <td colspan="12" class="Header-secondary singleHeader"
                    th:text="${'Total records: ' + countRequests}"></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="form-group col-md-1">
                <select class="form-control pagination" id="pageSizeSelect">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                            th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select>
            </div>
            <div th:if="${requestlist.totalPages != 1}"
                 class="form-group col-md-11 pagination-centered" style="text-align: center"
                 th:with="currentUrl=(${@currentUrlWithoutParam.apply('page')})">
                <ul class="pagination">
                    <li th:class="${requestlist.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                    </li>
                    <li th:class="${requestlist.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=${requestlist.number})}">&larr;</a>
                    </li>
                    <li
                            th:class="${requestlist.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="pageLink"
                           th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li
                            th:class="${requestlist.number + 1 == requestlist.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=${requestlist.number + 2})}">&rarr;</a>
                    </li>
                    <li
                            th:class="${requestlist.number + 1 == requestlist.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{${currentUrl}(pageSize=${selectedPageSize}, page=${requestlist.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:if="${ #lists.isEmpty(requestlist)}">
        <p align="center">No data found</p>
        <table class=" dataTable hover table table-striped style=width: 100%; border-spacing: 0;">
            <td colspan="12" class="Header-secondary singleHeader"
                th:text="${'Total records: ' + countRequests}"></td>
        </table>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        crossorigin="anonymous"></script>


<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });

    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            //window.location.replace("/CPQInterfaceMonitor/?pageSize=" + this.value + "&page=1");
            var currentUrl = location.href;
            var alteredURL = removeParam("pageSize", currentUrl);
            alteredURL = removeParam("page", alteredURL);
            alteredURL += (alteredURL.split('?')[1] ? '&':'?') + "pageSize=" + this.value + "&page=1";
            window.location.replace(alteredURL);
        });
    }

    function removeParam(key, sourceURL) {
        var rtn = sourceURL.split("?")[0],
            param,
            params_arr = [],
            queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
        if (queryString !== "") {
            params_arr = queryString.split("&");
            for (var i = params_arr.length - 1; i >= 0; i -= 1) {
                param = params_arr[i].split("=")[0];
                if (param === key) {
                    params_arr.splice(i, 1);
                }
            }
            rtn = rtn + "?" + params_arr.join("&");
        }
        return rtn;
    }
    /*]]>*/
</script>
</body>
</html>