
.singleHeader {

    text-align: center;
    border: 1px solid;
    border-color: white;
    color: white;
}

.multiColumnHeaderTop {
    text-align: center;
    border: 1px solid;
    border-color: white;
    color: white;
    border-bottom: 0;
}

.multiColumnHeaderBottom {
    text-align: center;
    border: 1px solid;
    border-color: white;
    color: white;
    border-top: 0
}

.singleHeaderTopBar {

    text-align: center;
    color: white;
}

button.view,
button.download
 {
    height: 24px;
    width: 24px;
    cursor: pointer;
    border: none;
}

button.view {
    background: url(../images/view.png) no-repeat;
}

button.download {
    background: url(../images/download.png) no-repeat;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table_header {
    margin: 0 auto;
    color: white;
    width: 100%;
}

tr{
    vertical-align: center;
    text-align: left;
}

th, td {
    vertical-align: center;
    text-align: left;
    padding: 5px;
}


.Header-logoImage {
    display: block;
    width: 131px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
    background-image: url(../images/getinge-logo-white.svg);
    background-repeat: no-repeat;
}

.Version {
    background: #18274a;
    color: #495a6b;
}
.Header-primary {
    background: #18274a;
    color: #495a6b;
    border: 1px solid;
    border-bottom: 0px;
    border-color: white;
}

.Header-secondary {
    background: #495a6b;
    color: #d4cac8;
    border-top: 1px solid;
    border-bottom: 0px;
    border-color: white;
}

.Header-filters {
    background: #18274a;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Header-filters-values {
    color: black;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #18274a;
    color: white;
}
